body{
	font-family: "Ubuntu";
}

nav {
	background-color: #2234bb;
	margin-bottom: 25px;
}

.nav-pills > li > a{
	border-radius: 0;
	color: #fff;
	font-weight: 500;
	transition: background-color .5s;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
	background-color: #ffd200;
}
.nav-pills > li > a:focus, .nav-pills > li > a:hover{
	background-color: #001d66;
}

.btn {
	border-radius: 0;
	background-color: #2234bb;
	color: #fff;
	transition: background-color .5s;
}

.btn:hover {
	background-color: #ffd200;
	color: #2234bb;
}

.panel-primary > .panel-heading {
		background-color: #2234bb;
}
.carousel-control{
	opacity: 1;
	width: 50px;
	height: 50px;
	top: 45%;
}

button.left.carousel-control{
	padding: 0;
	font-size: 22pt;
	background-image: none;
	background-repeat: no-repeat;
}

button.right.carousel-control{
	padding: 0;
	font-size: 22pt;
	background-image: none;
	background-repeat: no-repeat;
}